.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* .images-holder {

  width: 50%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;

} */


.img {
  display: block;
  max-width: 250;
  max-height: 175px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  border-radius: 8px;
  text-align: center
}

.images-holder {

  
  padding: 10px;
  display: block;
  max-width: 250;
  max-height: 175px;
  width: auto;
  height: auto;
  align: center;
  object-fit: contain;
  text-align: center;
  color: white;

}


.border {
border-width: 3px; 
border-style: solid; 
border-color: black;
borderWidth: 250px;
}



.nav {
  font: 'Helvetica Neue';
  text-align: left;
  font-size: calc(12px + 2vmin);
  color: black;
  background-color: #006994;
}


.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid blue; */
  padding: 10px;
}

.navBarLink {
  margin: 5px;
}

.center-text {
  text-align:center;
  margin: auto;
  width: 50%;
}

.center-box {
  margin: auto;
  width: 50%;
  border: 1px solid #006994;
  padding: 10px;
}




.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
